@media screen and (min-width:768px){
    body{
        font-size: 20px;
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 28px;
        @media screen and (min-width:768px){
            font-size:3.2vw;
        }
    }
    h3,p,li,a,i{
        font-size: 20px;
    }
}
@media screen and (min-width:768px){
    
}